
:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
  }
  
  [data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }

  .navbar{
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;}
    nav{
        background-color: #92b6f5;
    }
   .navbar-title{
    font-family: naturasans;
    font-weight: 500px;
    font-size: 30px;
    height: 100px;
    margin-right: 600px;
    display: flex;
    justify-self: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    }
    
.logo {
  height: 90px;
  width: 90px;
}
button{
border-radius:10px;
outline:none;
outline-color: transparent;
border:0;
}
.navbar-toggler{
    border-radius:10px;
outline:none;
border:0;
} 
  
  * {
    margin: 0;
    
    
  }
  
body{
  background-color:  #f8f8f8;
}
  .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .right-col {
    background: var(--bg-color);
    max-width: 600px; /* Ancho máximo del formulario */
    width: 100%;
    padding: 5rem 3.5rem;
    background: none;
    
  }
  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
   
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  h6{
    display: none;
  }
  
  p {
    color: black;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
    
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
    color: #010712;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: black;
  }
  
  input, textarea {
    color: black;
    font-weight: 500;
    background: var(--bg-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(66, 18, 18, 0.829); /* Agregar sombra */
  }
  textarea {
    resize: none;
  }
  
  #contact-form button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 13rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
    
} 
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 13rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  


  footer {
    background-color: #92b6f5;
  
  }
    
    main{
     display: flex;
     justify-content: center;
      flex-direction: column ;
    }
    .hr {
      height: 3px;
        background-color: #92b6f5;
    }
  
    section{
      min-height: 100vh;
      display: flex;
      justify-content: center;
  
  
    }
    
  
  /* Toggle Switch */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
    
    .logo {
    
      width: 8rem;
    }

    h1 {
        display: none;
      font-size: 1.75rem;
    }
    h6{
        color:var(--h1-color);
    text-transform: uppercase;
    font-weight: 300;
    }
    p {
      font-size: 0.6rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .left-col{
    display: none;
  }
  
  }