
    .navbar{
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
    nav{
        background-color: #92b6f5;
    }
   .navbar-title{
    font-family: naturasans;
    font-weight: 500px;
    font-size: 30px;
    height: 100px;
    margin-right: 690px;
    display: flex;
    justify-self: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    }
    .divider {
    border-left: 1px solid #ededed;
}
.logo {
  height: 90px;
  width: 90px;
}
form {
    width: 200px;
    display: flex;
    align-items: center;
  }
button{
border-radius:10px;
outline:none;
outline-color: transparent;
border:0;
}
.navbar-toggler{
    border-radius:10px;
outline:none;
border:0;
} 
main{
    min-height: 100vh;
}
footer {
    background-color: #92b6f5;

}
.left {
    max-width: 500px;
    border: 1px solid #000;
    padding: 20px;
    float: left;
}

select {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #92b6f5;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    outline: none;
}

#titulo {
    font-weight: bold;
}

.dato .serie {
    width: 70%;
    margin-right: 15px;
}

.dato .valor {
    width: 20%;
}

.agregar {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color:  #92b6f5;
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.crear-grafico {
    float: right;
    background-color:  #92b6f5;
    border: none;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.right {
    float: left;
    border: 1px solid #000;
    max-width: 605px;
    margin-left: 15px;
}