:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
}

[data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #92b6f5; /* Fondo del navbar */
}

.navbar-title {
    font-family: naturasans;
    font-size: 30px;
    height: 100px;
    margin-right: 600px; /* Ajusta según tu diseño */
    display: flex;
    justify-self: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.divider {
    border-left: 1px solid #ededed;
}

.logo {
    height: 90px;
    width: 90px;
}

button {
    border-radius: 10px;
    outline: none;
    outline-color: transparent;
    border: 0;
}

.navbar-toggler {
    border-radius: 10px;
    outline: none;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#nosotros {
    min-height: 740px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#nosotros h2 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

#nosotros #parrafo {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    white-space: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.cards .card {
    flex: 1;
    max-width: 380px;
    padding: 20px;
    background-color: #5e8dba;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 20px;
}

.card h3 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
}

.card .content p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.05rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #nosotros {
        padding: 1%;
    }

    #nosotros h2 {
        font-size: 1.5rem;
    }

    #nosotros #parrafo {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 100%;
        margin-bottom: 2%;
    }
}
footer {
    background-color: #92b6f5;
  
  }
    
    main{
     display: flex;
     justify-content: center;
      flex-direction: column ;
    }
    .hr {
      height: 3px;
        background-color: #92b6f5;
    }
  
    section{
      min-height: 100vh;
      display: flex;
      justify-content: center;
  
  
    }